nav{
    background-color: oldlace;
}

ul{
    display: flex;
    justify-content: flex-end;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #5B3C11
}

#title{
    margin: -10px auto 0 auto;
    color: #5B3C11;
    font-style: oblique;
}