<nav>
  <ul>
    <li id="title"><h4>Conseils en investissement</h4></li>
    <li routerLinkActive="active">
      <a routerLink="/accueil">Accueil</a>
    </li>
    <li routerLinkActive="active" *ngIf="!isAuth">
      <a routerLink="/auth/signup">S'inscrire</a>
    </li>
    <li routerLinkActive="active" *ngIf="!isAuth">
      <a routerLink="/auth/signin">Se connecter</a>
    </li>
    <li>
      <a (click)="onSignOut()"
          style="cursor:pointer"
          *ngIf="isAuth">Se déconnecter</a>
    </li>
  </ul>
</nav>