<app-header></app-header>
<div class="container">
  <mat-card id="cardForm">
    <mat-card-header>
      <mat-card-title>Se connecter</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="form">
        <input placeholder="Adresse mail" type="text" formControlName="email">
        <input placeholder="Mot de passe" type="password" formControlName="password">
        <button mat-button
                type="submit"
                [disabled]="signinForm.invalid">Connection</button>
      </form>
    </mat-card-content>
  </mat-card>  
</div>
