#information{
    display: flex;
    flex-direction: column;
}

h2{
    color: lightseagreen;
}

.info{
    font-style: italic;
    color: #5B3C11;
}

.resume{
    background-color: oldlace;
    border: 1px solid  lightseagreen;
    font-size: 16px;
    color: #5B3C11;
}

.description{
    font-size: 14px;
}

.commentaires{
    font-size: 16px;
    color: #5B3C11;
}

.listCommentaires{
    background-color: #fefcf8;
    font-size: 14px;
}

.idCommentaire{
    color: lightseagreen;
}

.texteCommentaire{
    font-style: oblique;
}