header{
    font-size: 20px;
    background: url('/assets/images/170921-globalstocksinvesting-stock.jpg') repeat;
    font-style: italic;
    padding: 10px;
    width:100%;
}

header p{
    justify-content: center;
    margin: 10px;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

#information{
    display: flex;
    flex-direction: column;
}

h2{
    color: lightseagreen;
}

.info{
    font-style: italic;
    color: #5B3C11;
}

.resume{
    background-color: oldlace;
    border: 1px solid  lightseagreen;
    font-size: 16px;
    color: #5B3C11;
}

.description{
    font-size: 14px;
}

.commentaires{
    font-size: 16px;
    color: #5B3C11;
}


.idCommentaire{
    color: lightseagreen;
}

.texteCommentaire{
    font-style: oblique;
}

.example-tree-invisible {
    display: none;
  }
  
.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    position: relative;
    background-color: #fefcf8;
}

textarea{
    min-width: 50%;
}

.input_comment{
    display: none;
}

.input_comment_display{
    width: 200px;
    display: flex
}

.button_comment{
    position: absolute;
    right: 0;
}

.hidden_button_comment{
    display: none;
}

.addComment{
    background-color: #fefcf8;
    color: lightseagreen;
    margin: 10px 0 auto auto
}