<header> <img src="financebanniere.jpg" alt="Conseils Investissements"> </header>
<h2>{{data.post.titre}}</h2>
<div id="informations">
  <p class="info">Un article de {{data.post.auteur.prenom}} {{data.post.auteur.nom}}, publié le {{data.post.date | date }}</p>
</div>
<p class="resume">{{data.post.resume}}</p>
<p class="description">{{data.post.description}}</p>
<div>
  <hr width="80%" color="lightseagreen" size="1"> 
  <p class="commentaires">Commentaires</p>
  <div class="listCommentaires" *ngFor="let comment of data.post.listComment">
    <p class="idCommentaire">
      {{comment.auteur.prenom}} {{comment.auteur.nom}}, le {{comment.date | date}} : 
    </p>
    <p class="texteCommentaire">
      {{comment.texte}}
    </p>
  </div>
</div>
