h1{
    background-color: #fefcf8;
    color: lightseagreen;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
}

.example-tree-invisible {
    display: none;
  }
  
.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

#subForm{
    display: flex;
    justify-content: space-between;
}

#folder, .addPost{
    width: 200px;
}
