<form [formGroup]="postForm" (ngSubmit)="addPost()">
  <mat-form-field>
    <input matInput placeholder="Titre" formControlName="titre" required>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Resume" formControlName="resume" required></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Post" formControlName="description" required></textarea>
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Catégorie" [(value)]="indexCategorie">
          <mat-option *ngFor="let rubric of rubrics; let i = index" [value]="i" >{{rubric.nom}}</mat-option>
      </mat-select>
  </mat-form-field>

  <button mat-button type="submit" [disabled]="!postForm.valid">Ajouter</button>
</form>
