<app-header></app-header>  
<div class="row">           
    <mat-sidenav-container class="example-container">
            <mat-sidenav #sidenav id="sidNavCategories" mode="side" opened>
                <button mat-icon-button *ngIf="sidenav.opened" (click)="sidenav.close()"><mat-icon>close</mat-icon></button>
                <mat-list>
                    <mat-list-item *ngFor="let rubric of rubrics">
                        <button mat-button (click)="onSelectRubric(rubric)">{{rubric.nom}}</button>
                        <button mat-icon-button class="deleteRubric" *ngIf="categorieService.canDelete()" (click)="onDeleteRubric(rubric)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
                <button mat-button *ngIf="categorieService.canEdit()" (click)="addRubric()">Ajouter une rubrique</button>                   
            </mat-sidenav>
            <mat-sidenav-content> 
                <button mat-icon-button *ngIf="!sidenav.opened" (click)="sidenav.open()" class="sidenavButton"><mat-icon>add</mat-icon></button>             
                <mat-form-field>
                    <mat-select placeholder="Afficher jusqu'a" [(value)]="displayPosts">
                        <mat-option value="10">10 élements</mat-option>
                        <mat-option value="50">50 élements</mat-option>
                    </mat-select>
                </mat-form-field>
                <input matInput id="search" (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
                <div id="listPosts">
                    <button mat-button class="post" (click)="addPost()" *ngIf="postService.canEdit()">
                        <div>
                            <h4><mat-icon>add</mat-icon></h4>
                        </div>
                        <div>
                            <p>Ajouter un post</p>
                        </div>    
                    </button> 
                    <div *ngFor="let post of posts; let i = index">
                        <button mat-button class="post" (click)="openPost(post)" *ngIf="isInFilter(post, i)">
                            <div>
                                <h4>{{post.titre}}</h4>
                                <p>Dog Breed</p>
                            </div>
                            <div>
                                <p>{{post.description}}</p>
                            </div>
                            <div class="postFooter">
                                <button mat-icon-button (click)="onLike(post)">{{post.nbLike}}<mat-icon >thumb_up</mat-icon></button>
                                <button mat-icon-button><mat-icon>comment</mat-icon></button>
                                <button mat-icon-button *ngIf="postService.canDelete()" (click)="onDelete(post)"><mat-icon>close</mat-icon></button>
                            </div>     
                        </button>     
                    </div>                                              
                </div>
            </mat-sidenav-content>
    </mat-sidenav-container>
</div>
