#search{
    float: right;
    width: 25%;
}

mat-sidenav{
    min-width: 300px;
    background: url('../../../images/header.png') repeat;
}

.listCategories {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.nomCat{
    font-size: 13pt;
    color: #5B3C11;
}

.sidenavButton{
    position: absolute;
    left: 0;
    top: 0;
}

.deleteRubric{
    position: absolute;
    right: 0;
}

/* Partie Arbre */
.example-tree{
    margin-top: 10px;
}

.example-tree-invisible {
    display: none;
    margin-left: 10px;
}
  
.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

/* Liste des posts */
#listPosts{
    margin: 20px;
    display: flex;
    flex-wrap: wrap
}

.post{
    height: 300px;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.post button{
    height: 100%;
    width: 100%;
}

.titrePost{
    color: lightseagreen;
    font-size: 16pt;
}

.auteurPost{
    color: #5B3C11;
    font-size: 12pt;
}


.resumePost{
    width: 350px;
    font-size: 9pt;
}

.postFooter{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 150px;
}

.postFooter button{
    z-index: 1000;
}

.postFooter button mat-icon{
    font-size: 2em;
}
